/* reset */
body, ul, li, img, input{
    margin:0;
    padding:0;
    font-family: "Noto Sans KR","Apple SD Gothic Neo", "roboto";
    color:white;
}


ol, ul, li {
    list-style:none;
}

h2 {
    font-size: 1.4vw;
    margin: 1vw 0 ;
}

h3 {
    font-size: 1.2vw;
    margin: 0.5vw;
}

/* margin(유동형)*/
@media(min-width:1201px) {
    header #headerLeft {
        margin-left:64px;
    }

    header #headerRight {
        margin-right:64px;
    }
}

@media(max-width:1200px){
    header #headerLeft {
        margin-left:5%;
    }

    header #headerRight {
        margin-right:5%;
    }
}

/* body */
body {
    min-width: 630px;
    background-color: #202123;
}

/* header */
header {
    display:flex;
    flex-flow:row;
    justify-content: space-between;
    background-color:black;
    height:72px;
    line-height: 72px;
}

/* header_left */
header #headerLeft {
    display:flex;
    flex-flow:row;
}

header #headerLeft li {
    
}

header #headerLeft li#logo {
    margin-right:40px;
}

header #headerLeft li#logo a {
    text-decoration: none;
    color:#fff;
    font-size:24px;
}

header #headerLeft nav ul {
    display:flex;
    flex-flow: row;
}

header #headerLeft li.menu {
    font-size:16px;
    margin:0 12px;
    color:#ccc;
}

header #headerLeft li.menu:hover {
    color:#fff;
}

header #headerLeft li.menu.menu-active {
    font-weight: bold;
    color:#fff;
}

/* header_right */
header #headerRight {
    display: flex;
    flex-flow:row nowrap;
    
}

header #headerRight li.setting{
    color:#ccc;
    margin: 0 12px;
    font-size:16px;
}

header #headerRight li.setting:hover {
    color:#fff;
}

header #headerRight #searchArea{
    width: 300px;
    height: 40px;
    background: #000;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid white;
    color: #ccc;
    padding: 4px 8px 4px 34px;
    margin: auto 0 ;
    box-sizing: border-box;
}

/* main */
main {

}

/* main_mainAD */
main section#mainAD {

}

main section#mainAD div {
    /* position: absolute;
    top: 72px;
    z-index: 1; */
    width: 100vw;
    height: 35vw;
    background:linear-gradient(180deg, #707070 68%, rgba(112, 112, 112, 0) 100%);
}

/* main_content */
main section#contents {
    margin: 64px;
}

main section#contents .content_class {
    display:flex;
    flex-flow:row;
    justify-content: space-between;
    align-items: center;
}

main section#contents .content_name {
    
}

main section#contents .content_more {
    vertical-align: middle;
    font-size:1.2vw;
    text-decoration:none;
    color:rgba(255, 255, 255,0.7); 

}

main section#contents .content {
    margin-left:0px;
}

main section#contents .content ul {
    display: flex;
    flex-flow: row nowrap;
}

main section#contents .content ul li {
    width: 25%;
    margin-right: 8px;
}

main section#contents .content a {
    text-decoration:none;
    color: #fff;
}

main section#contents .content .content_thumbnail {
    height: 11vw;
    display:block;
    background-color:#C4C4C4;
    
}

main section#contents .content .content_title {
    margin-left: 0px;
}

/* icon */
.rightArrow_icon {
    position: relative;
    float: right;
    display:block;
    background: url(../img/arrow_right_icon.svg) no-repeat;
    background-position: center;
    height:100%;
}

.dropDwon_icon {
    position: relative;
    float: right;
    display:block;
    background: url(../img/arrow_drop_down_icon.svg) no-repeat;
    background-position: center;
    width:24px;
    height:100%;
}
.search_icon {
    position: relative;
    float: left;
    display:block;
    background: url(../img/search_icon.svg) no-repeat;
    background-position: center;
    width:24px;
    height:100%;
}