/* reset */

body,
ul,
li,
img {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", "roboto";
  color: white;
}

input {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", "roboto";
}

ol,
ul,
li {
  list-style: none;
}

h2 {
  font-size: 1.4vw;
  margin: 1vw 0;
  box-sizing: border-box;
}

h3 {
  font-size: 1.2vw;
  margin: 0.5vw;
}

address {
  font-style: normal;
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* margin(유동형)*/
@media (min-width: 1201px) {
  header #headerLeft {
    margin-left: 64px;
  }

  header #headerRight {
    margin-right: 64px;
  }
}

@media (max-width: 1200px) {
  header #headerLeft {
    margin-left: 5%;
  }

  header #headerRight {
    margin-right: 5%;
  }
}

/* body */
body {
  min-width: 630px;
  background-color: #202123;
}

/* header */
header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: black;
  height: 72px;
  line-height: 72px;
}

/* header_left */
header #headerLeft {
  display: flex;
  flex-flow: row;
}

header #headerLeft li {
}

.logo {
  margin-right: 40px;
}

.logo a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  background: url(../img/91_logo.svg) no-repeat;
  background-size: contain;
  padding-left: 63px;
  height: 72px;
  line-height: 72px;
}

header #headerLeft nav ul {
  display: flex;
  flex-flow: row;
}

header #headerLeft li.menu {
  font-size: 16px;
  margin: 0 12px;
  color: #ccc;
}

header #headerLeft li.menu:hover {
  color: #fff;
}

header #headerLeft li.menu.menu-active {
  font-weight: bold;
  color: #fff;
}

/* header_right */
header #headerRight {
  display: flex;
  flex-flow: row nowrap;
}

header #headerRight a {
  color: #ccc;
  text-decoration: none;
}

header #headerRight a:hover {
  color: #fff;
}

header #headerRight li.setting {
  color: #ccc;
  margin: 0 12px;
  font-size: 16px;
}

header #headerRight li.setting:hover {
  color: #fff;
}

header #headerRight #searchArea {
  display: inline;
  width: 200px;
  height: 40px;
  background: #fff;
  border-radius: 4px;
  color: #ccc;
  padding: 4px 4px 4px 8px;
  margin: auto 0;
  box-sizing: border-box;
}

#searchArea input[type="text"] {
  color: #000000;
  line-height: 32px;
  width: 85%;
  position: relative;
  float: right;
  border: none;
}

#searchArea input[type="text"]:focus {
  outline: none;
}

/* main */
main {
}
/* arrow */

/* main_mainAD */
main section#mainAD {
}

#mainAD_arrow {
  display: flex;
  flex: row;
  justify-content: space-between;
  position: absolute;
  top: 15vw;
  width: 100%;
  z-index: 2;
}

#mainAD_arrow .mainAD_arrow_left {
  background: url(../img/arrow_left_56.svg) no-repeat;
  width: 4%;
  height: 4vw;
  background-size: contain;
  cursor: pointer;
}

#mainAD_arrow .mainAD_arrow_right {
  background: url(../img/arrow_right_56.svg) no-repeat;
  width: 4%;
  height: 4vw;
  background-size: contain;
  cursor: pointer;
}

main section#mainAD div {
  position: absolute;
  top: 72px;
  z-index: 1;
  width: 100vw;
  height: 35vw;
  background: linear-gradient(180deg, #707070 68%, rgba(112, 112, 112, 0) 100%);
}

/* main_content */
main section#contents {
  margin-top: 23vw;
  overflow: hidden;
}

main section#contents dl {
  position: relative;
}

.arrow {
  position: absolute;
  top: 40%;
  left: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.arrow li {
  display: inline-block;

  cursor: pointer;
}

.arrow .arrow_left {
}
.arrow .arrow_right {
}

main section#contents .content_class {
  display: flex;
  flex: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 64px;
}

.content {
  overflow: visible;
}
main section#contents .content_name {
  z-index: 3;
}

main section#contents .content_more {
  vertical-align: middle;
  font-size: 1.2vw;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  z-index: 3;
}

/* contents content */
main section#contents .content {
  margin-left: 0px;
  padding: 0 64px;
}

main section#contents .content ul {
  display: flex;
  flex: row;
  margin-bottom: 1.7vw;
}

main section#contents .content ul li {
  min-width: 24.5%;
  margin-right: 8px;
  z-index: 3;
}

main section#contents .content a {
  text-decoration: none;
  color: #fff;
}

main section#contents .content .content_thumbnail {
  height: 11vw;
  display: block;
  background-color: #c4c4c4;
}

main section#contents .content .content_title {
  margin-left: 0px;
}

/* footer */
footer {
}

/* footer sitemap */
footer #siteMapWrap {
  display: flex;
  flex: row;
  justify-content: space-between;
  background: #17181a;
  margin-top: 56px;
  padding: 0 64px;
}

footer #siteMapWrap .siteMap {
  width: 30%;
  border-right: 1px solid #7e7e7e;
  box-sizing: border-box;
  padding-bottom: 40px;
}

footer #siteMapWrap .siteMap .siteMap_title {
}

footer #siteMapWrap .siteMap .siteMap_content {
  margin: 8px 0;
}

/* footer data*/
#footer {
  display: flex;
  flex: row;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 14px;
  background: #000000;
  padding: 24px 64px;
  color: #ccc;
}

#footer a {
  color: #ccc;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}

.footer_column {
}

.footer_column ul {
  display: flex;
  flex-flow: row;
}

.footer_rule {
  margin-bottom: 12px;
}

.footer_column ul li {
  margin-bottom: 8px;
  margin-right: 8px;
  color: #ccc;
}

.comp_info a {
  color: #666666 !important;
}

.comp_info ul li {
  color: #666666;
}

.share ul li {
  margin-left: 12px;
}

.share_facebook {
  width: 32px;
  height: 32px;
  background: url(../img/footer_share_facebook.svg);
}

.share_twitter {
  width: 32px;
  height: 32px;
  background: url(../img/footer_share_twitter.svg);
}

.share_instagram {
  width: 32px;
  height: 32px;
  background: url(../img/footer_share_instagram.svg);
}

/* login */
#login_wrap {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 64px;
}

.text_area {
  width: 600px;
  height: 60px;
  background: #fff;
  border-radius: 8px;
  margin: 24px;
  padding: 12px 16px;
  box-sizing: border-box;
}

.text_area input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 20px;
  outline: none;
}

.error {
  margin-right: 24px;
  text-align: right;
}

.login_button {
  margin: 24px;
  width: 600px;
  height: 60px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  color: #c4c4c4;
  background: #595959;
  cursor: pointer;
  outline: none;
}

.login_button:active {
  box-shadow: 4px 4px 4px, rgba(0, 0, 0, 0, 25),
    inset -4px -4px 4px rgba(0, 0, 0, 0.25);
}

#signup {
  display: flex;
  flex-flow: row;
}

#signup li {
  margin: 8px;
  color: #fff;
}

#signup li a {
  color: #fff;
  text-decoration: none;
}

#signup li a:hover {
  text-decoration: underline;
}

.login_notice {
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 16px;
  margin: 32px;
  box-sizing: border-box;
}
/* icon */
.rightArrow_icon {
  position: relative;
  float: right;
  background-position: center;
  height: 100%;
}

.dropDwon_icon {
  position: relative;
  float: right;
  display: block;
  background: url(../img/arrow_drop_down_icon.svg) no-repeat;
  background-position: center;
  width: 24px;
  height: 100%;
}
.search_icon {
  position: relative;
  float: left;
  display: block;
  background: url(../img/search_icon.svg) no-repeat;
  background-position: center;
  width: 24px;
  height: 100%;
}

.search-black_icon {
  position: relative;
  float: left;
  display: block;
  background: url(../img/search-black_icon.svg) no-repeat;
  background-position: center;
  width: 24px;
  height: 100%;
}
