/* reset */
* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", "roboto";
}
body,
ul,
li {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

/* header */
.header {
  height: 72px;
  background: #fcf7ea;
}

.logo {
  display: block;
  font-size: 24px;
  padding-left: 64px;
  height: 72px;
  line-height: 72px;
  background: url(./img/91_logo.svg) no-repeat;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

/* schedule */
.schedule {
  position: relative;
  float: left;
}
.schedule_dayName {
  display: flex;
  flex-flow: row;
}

/* aside */
.side {
  position: relative;
  float: right;
  width: 430px;
  margin-right: 40px;
}

.side section {
  margin-top: 16px;
}

/* aside_calendar */

.calendar {
  background: #fcf7ea;
  border-radius: 4px;
  padding: 8px;
}

.calendar_header {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 8px;
}

.calendar_header_month {
  width: 30%;
  text-align: center;
}

.calendar_header_prov {
  background: url(./img/chevron-left.svg) no-repeat;
  width: 24px;
  height: 24px;
}

.calendar_header_next {
  background: url(./img/chevron-right.svg) no-repeat;
  width: 24px;
  height: 24px;
}

.calendar_date {
  border: 1px solid #000000;
  border-radius: 8px;
}

.calendar_date ul {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  padding: 8px 0px;
}

.calendar_date_dayName {
  border-bottom: 1px dotted #000000;
}

.calendar_dayName-sun,
.calendar_number-sun {
  color: #f1426c;
}

.calendar_dayName-sat,
.calendar_number-sat {
  color: #1f64e9;
}

/* aside_list */
.list {
  background: #fcf7ea;
  border-radius: 4px;
}

.list > ul {
  padding: 0 16px;
}

.list_header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: 48px;
  line-height: 48px;
  background: #fbd9ba;
  border-radius: 4px 4px 0px 0px;
}

.list_header_menu {
}

.list_header_menu ul {
  display: flex;
  flex-flow: row;
}

.list_header_menu ul li:not(:last-child) {
  margin-right: 8px;
}

.list_header_align {
  padding-right: 24px;
  background: url(./img/menu-down.svg) no-repeat;
  background-position: right;
  cursor: pointer;
}

.list_wrap {
  height: 100%;
}

.list_content {
  display: inline-block;
  background: #fad9d9;
  width: 100%;
  padding: 4px 8px;
  margin: 8px 0;
  border-radius: 4px;
}

.list_content_right {
  position: relative;
  float: left;
}

.list_content h3 {
  font-size: 20px;
  margin: 0;
}

.list_content p {
  margin: 0;
}

.importance {
  position: relative;
  float: right;
}
